.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    aspect-ratio: 7/8;
    border-radius: 3px;
    padding: 1em;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
    .project-card {
        width: auto;
        flex: 0 0 300px;
        scroll-snap-align: start;
        border-radius: 0;
    }
}

.project-card::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .3s ease;
    border-radius: 10px;
}

.project-card:hover::before {
    transform: scale(1.1);
}

.project-card .bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background: linear-gradient(0deg, 
    rgba(17, 17, 17, 0.7) 20%,
    rgba(17, 17, 17, 0.0));
    z-index: 0;
    transform: translateY(0);
    transition: all 0.4s ease;
}

.project-card:hover .bg-overlay {
    transform: translateY(100%);
}

.project-card .hover-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgb(22, 22, 174);
    mix-blend-mode: screen;
    transition: all 0.4s ease;
    pointer-events: none;
    transform: translateY(-100%);
}

.project-card:hover .hover-overlay {
    transform: translateY(0);
}

.project-card .content {
    z-index: 1;
}

.project-card h3,
.project-card p,
.project-card span {
    text-decoration: none;
    color: #fff;
}

.project-card .content {
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
    transition: all 0.4s ease;
}

.project-card .content .hidden {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
}

.project-card:hover .content {
    grid-template-rows: 0fr;
}

.project-card .hidden span {
    margin-left: auto;
}