* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section--dark {
    background-color: #29343c;
}

.section--light {
    background-color: #f7f7f7;
}

.row {
    display: flex;
    width: 80%;
    max-width: 1366px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    aspect-ratio: 7/8;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.project-card .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.project-card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.platform-logo {
    width: 24px;
    aspect-ratio: 1/1;
}