* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 2em 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: auto;
    list-style: none;
}

nav ul li a {
    color: #f7f7f7;
}

h1 {
    color: #f7f7f7;
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

.heading-subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    width: fit-content;
    padding: 0 1em .7em .3em;
}

.btn {
    width: fit-content;
    background: rgba(41, 52, 60, 0.4);
    color: #f7f7f7;
    padding: .8em 1em;
    border-radius: 30px;
    border: 2px solid #f7f7f7;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.section {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero {
    position: relative;
}

#hero::before {
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

#hero .row {
    z-index: 1
}

#hero .row:first-child {
    padding-top: 100px;
}

#hero .col {
    position: relative;
}

#hero .hero-links-container {
    margin-left: auto;
    display: flex;
    gap: 1em;
}

#hero .hero-links-container a {
    color: #f7f7f7;
}

#hero h1 {
    max-width: 800px
}

#hero p {
    max-width: 800px;
    color: #eee;
}

.section--dark {
    background-color: #29343c;
}

.section--light {
    background-color: #f7f7f7;
}

.row {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1366px;
}

.row.full-width {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 991px)  {
    .row.carousel {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .row.projects-row {
        display: none;
    }
}

@media screen and (min-width: 1921px) {
    .row {
        max-width: 80%
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

@media screen and (min-width: 1921px) {
    .projects-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.platform-logo {
    width: 24px;
    aspect-ratio: 1/1;
}



